.demo{ background: #585858; }
            .progress{
                height: 40px;
                background-color: rgba(255,255,255,0.3);
                border-radius: 50px;
                box-shadow: none;
                padding: 5px;
                margin-bottom: 10px;
                overflow: visible;
            }
            .progress .progress-bar{
                box-shadow: none;
                position: relative;
                border-radius: 20px;
                animation: animate-positive 2s;
            }
            .progress .progress-title{
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                margin: 0;
                position: absolute;
                top: 6px;
                left: 15px;
            }
            .progress .progress-value{
                width: 55px;
                height: 22px;
                line-height: 20px;
                background: #f5f5f5;
                border-radius: 50px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                font-size: 16px;
                font-weight: bold;
                color: #e95095;
                position: absolute;
                top: 4px;
                right: 6px;
            }
            .progress.yellow .progress-value{ color: #ffcc00; }
            .progress.blue .progress-value{ color: #7049ba; }
            .progress.green .progress-value{ color: #5fad56; }
            @-webkit-keyframes animate-positive{
                0% { width: 0; }
            }
            @keyframes animate-positive{
                0% { width: 0; }
            }