---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import WorkWithMe from '../components/WorkWithMe.astro';
import Skills from '../components/Skills.astro';
import Certifications from '../components/Certifications.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
import RecentPosts from '../components/RecentPosts.astro';
import Footer from '../components/Footer.astro';
---

<Layout lang="en">
  <Nav lang="en" />
  <main>
    <Hero lang="en" />
    <About lang="en" />
    <Services lang="en" />
    <WorkWithMe lang="en" />
    <Skills lang="en" />
    <Certifications lang="en" />
    <Experience lang="en" />
    <RecentPosts lang="en" />
    <Contact lang="en" />
  </main>
  <Footer lang="en" />
</Layout>
